<div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger">
            <i class="bi bi-trash me-2 text-white"></i>
            <strong class="me-auto text-white" id="toastTitle">Bootstrap</strong>
            <small class="text-white">11 mins ago</small>
            <button type="button" class="btn-close  text-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastMessage">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>